<div class="container" style="margin-top: 10%;">

    <table class="table">
        <thead>
          <tr>
            <th scope="col-sm">title</th>
            <th scope="col-sm">description</th>
            <th scope="col-sm">priority</th>
            <th scope="col-sm">status</th>
            <th scope="col-sm">actions</th>
          </tr>
        </thead>
        <tbody>
            <% bugs.forEach(bug=>{ %>
          <tr>
            <td><%=bug.title%></td>
            <td><%=bug.description%></td>
            <td><%=bug.priority%></td>
            <td><%=bug.status%></td>
            <td>
                  <a class="dropdown-item" href="/bugs/<%= bug._id%>/show">عرض</a>
                  <a class="dropdown-item" href="/bugs/<%= bug._id%>/edit">تعديل</a>
                  <a class="dropdown-item" href="/bugs/<%= bug._id%>/delete?_method=delete">حذف</a>
                
            </td>
          </tr>
            <% })%>
        </tbody>
      </table>
    
      <a href="/bugs/new"> ADD BUG</a>
    
    </div>