<div class="container" style="margin-top: 10%; ">
  <a class="btn btn-primary" href="/bugs/new"> ADD BUG</a> <br><br>
  <a class="btn btn-primary" href="/bugs/open">التقارير الغير مسندة</a> 
  <a class="btn btn-primary" href="/bugs/closed">التقارير المغلقة</a>
  <a class="btn btn-primary" href="/bugs/assigned">التقارير الموكلة</a>
  <a class="btn btn-primary" href="/bugs">الكل</a><br><br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col-sm">title</th>
            <th scope="col-sm">description</th>
            <th scope="col-sm">priority</th>
            <th scope="col-sm">status</th>
            <th scope="col-sm">actions</th>
          </tr>
        </thead>
        <tbody>
            <% bugs.forEach(bug=>{ %>
          <tr>
            <td><%=bug.title%></td>
            <td><%=bug.description%></td>
            <td><%=bug.priority%></td>
            <td><%=bug.status%></td>
            <td>
                  <a class="dropdown-item" href="/bugs/<%= bug._id%>/show">عرض</a>
                  <a class="dropdown-item" href="/bugs/<%= bug._id%>/edit">تعديل</a>
                  <a class="dropdown-item" href="/bugs/<%= bug._id%>/delete?_method=delete">حذف</a>
                
            </td>
          </tr>
            <% })%>
        </tbody>
      </table>
    
      
    
    </div>