<div align="center">
  <div class="col-8">

<div class="container" style="margin-top: 10%; ">
  <div style="text-align: left;">
  <a class="btn btn-primary" href="/bugs/new">  إضافة تقرير</a>
</div> <br><br>
  <a class="btn btn-outline-primary" href="/bugs/open">التقارير الغير مسندة</a> 
  <a class="btn btn-outline-primary" href="/bugs/closed">التقارير المغلقة</a>
  <a class="btn btn-outline-primary" href="/bugs/assigned">التقارير الموكلة</a>
  <a class="btn btn-outline-primary" href="/bugs">الكل</a><br><br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col-sm">العنوان</th>
            <th scope="col-sm">الأولوية</th>
            <th scope="col-sm">الحالة</th>
            <th scope="col-sm">الإجراءات</th>
          </tr>
        </thead>
        <tbody>
            <% bugs.forEach(bug=>{ %>
          <tr>
            <td><%=bug.title%></td>
            <td><%=bug.priority%></td>
            <td><%=bug.status%></td>
            <td class="text-center">
                  <a style = "text-decoration:none;" class ="btn btn-light btn-sm" href="/bugs/<%= bug._id%>/show">عرض</a>
                  <a style = "text-decoration:none;" class ="btn btn-light btn-sm" href="/bugs/<%= bug._id%>/edit">تعديل</a>
                  <a style = "text-decoration:none;" class ="btn btn-light btn-sm" href="/bugs/<%= bug._id%>/delete?_method=delete">حذف</a>
                
            </td>
          </tr>
            <% })%>
        </tbody>
      </table>
    
      
    </div>
    </div>
    </div>