<div class="container" style="direction: rtl; text-align: center; margin-top: 10%;">
    
    <div class="row justify-content-center" align="center">
        <div class="col-md-6">
            <form action="/bugs/search" method="POST">
                <input type="text" class="form-control"  name="title"> <br>
                <div class="col-auto">
                <button type="submit" class="btn btn-primary">بحث</button>
            </div>
            </form>
        </div>

    </div>
    

    <% if(bugs){ %>
    
        <% bugs.forEach(bug => { %>
            
            <% if(bug.priority == 'low'){ %>
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header"><%= bug.title %></div>
                    <div class="card-body text-dark">
                      <h5 class="card-title"><%= bug.status %></h5>
                      <p class="card-text"><%= bug.description %></p>
                    </div>
                  </div>
                <%}%>
                <% if(bug.priority == 'medium'){ %>
                    <div class="card border-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header"><%= bug.title %></div>
                        <div class="card-body text-dark">
                          <h5 class="card-title"><%= bug.status %></h5>
                          <p class="card-text"><%= bug.description %></p>
                        </div>
                      </div>
                    <%}%>
                    <% if(bug.priority == 'high'){ %>
                        <div class="card border-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header"><%= bug.title %></div>
                            <div class="card-body text-dark">
                              <h5 class="card-title"><%= bug.status %></h5>
                              <p class="card-text"><%= bug.description %></p>
                            </div>
                          </div>
                        <%}%>
                
            
            <% })%>
    
    <%}else{%>  <p>no data found</p> <%}%>


</div>

