  <!-- <div class="container" style="direction: rtl; text-align: right;" align="center"> -->
    <div class ="container" align="center">
      <div class="row">
          <div class="col">
              <div class="card" style="width: 50%;">
                  <div class="card-body" style="direction: rtl;">
                    <h3><%=bug.title%></h3> <br>
                    <img src="<%=bug.image%>">
                      <div style="text-align: right;">
                        <br>
                        
                        <p><b> وصف المشكلة:</b> <%= bug.description %></p>
                        <p><b> الخطورة:</b> <%= bug.priority %></p>
                        <p><b> الحالة:</b> <%= bug.status %></p>
                        <p><b> البرنامج:</b> <%= bug.programId.title %></p> <hr>
                        <p><b> المرسل:</b> <%= bug.issuedUserId.name %></p>
                        <p><b> البريد الإلكتروني:</b> <%= bug.issuedUserId.email %></p>
                        <p><b> القسم:</b> <%= bug.issuedUserId.department %></p> <hr>
                    </div>

                    <a class="btn btn-primary" href="/bugs/<%= bug._id%>/close">إغلاق المشكلة</a>
                    <a class="btn btn-primary" href="/bugs/<%= bug._id%>/assign">إسناد</a>
                  </div>
              </div>     
           </div>
      </div>
  </div>
  <!-- </div> -->